{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ProjectManager | Login</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
			 href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet"
			 href="{% static 'styles/main.css' %}">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1>ProjectManager</h1>
            </header>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control"
                           name="username"
                           required = "required"
                           minlength="6"
                           placeholder="Digite seu nome de usuario">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control"
                           name="password"
                           required = "required"
                           minlength="6"
                           placeholder="Digite sua senha">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <p>
                <a href="{% url 'cadastrar' %}">Cadastre-se</a>
            </p>

            {% if mensagem %}
                <p>{{mensagem}}</p>
            {% endif %}
        </div>
    </body>
</html>