{% load staticfiles %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OStockMAnageR</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
			 href="{% static 'styles/bootstrap.css' %}">
		<link rel="stylesheet"
			 href="{% static 'styles/main.css' %}">
    </head>
    <body>
        <div class="container">
            <nav class="nav">
                <a class="navbar-brand" href="{% url 'pagina_inicial' %}">OStockMAnager</a>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'pagina_inicial' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </nav>
            <div class="row content">
                {% block body %}
				{% endblock %}
            </div>
            <footer class="row">
                <p>&copy 2018 OsMusical News.</p>
            </footer>
        </div>
    </body>
</html>